server:
  port: 22081
  shutdown: graceful
  servlet:
    context-path: /formdang-spring-auth

spring:
  profiles:
    active: local
    include: # 다른 모듈 yml 사용을 위해 적용
      - common # common-web
      - dao # core-web
      - core # domain-core
    group: # active 레벨에 따른 로깅 레벨 설정
      local:
        - console-logging # 콘솔 로깅만 사용
      test:
        - console-logging
        - file-logging # 파일 로깅 사용
      prod:
        - console-logging
        - file-logging # 파일 로깅 사용
  application:
    name: web-auth
  jackson:
    time-zone: Asia/Seoul
  web:
    resources:
      add-mappings: false
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size:  30MB

token:
  access-expired-time: 21600
  refresh-expired-time: 604800
  jwt-key: ENC(Qv0AW2gMig62bU/urGba3YWCUh8n++QMLS0XHjXVl1VbNbJLJZZABJ5sgzsG5yx0IG82g8KMXC+kRFwWcI5FKb6gF+SOMN3AdMYu1EF57r0=)
